<div style="width:auto;height:auto">
  <div style="width:350px;height;600px;margin:100px auto;background-color:#ecf9f2">
    <h2 style="padding:10px 10px 5px 5px"> Sign Up </h2>
    <hr/ style="margin:0px 5px 0px 5px">
    <input type="text" style="margin:20px 5px 5px 5px;font-size:14px;width:95%" 
           ng-model="email" placeholder="enter email address"><br/>
    <input type="password" style="margin:20px 5px 5px 5px;font-size:14px;width:95%"
           ng-model="pw" placeholder="enter password"><br/>
    <input type="password" style="margin:20px 5px 5px 5px;font-size:14px;width:95%"
           ng-model="confirm_pw" placeholder="enter password again"><br/>
    <button class="button-signin" style="margin:20px 0px 0px 5px;font-size:16px">sign up</button>
  </div>
</div>
