<div ng-controller="signUpController as ctrl" style="width:auto;height:auto">
  <div style="width:350px;height;600px;margin:100px auto;background-color:#ecf9f2">
    <h2 style="padding:10px 10px 5px 5px"> Sign Up </h2>
    <hr/ style="margin:0px 5px 0px 5px">
    <form name="sign_up_form" ng-submit="ctrl.signUpRequest(fields)" id="form1">
      <input type="text" style="margin:20px 5px 5px 5px;font-size:14px;width:95%"
             ng-model="fields.email_address" ng-change="ctrl.onInput()" ng-model-options="{debounce:500}" placeholder="enter email address" required><br/>
      <input type="password" style="margin:20px 5px 5px 5px;font-size:14px;width:95%"
             ng-model="fields.password" ng-change="ctrl.onInput()" ng-model-options="{debounce:500}"placeholder="enter password" required><br/>
      <input type="password" style="margin:20px 5px 5px 5px;font-size:14px;width:95%"
             ng-model="fields.confirm_pw" ng-change="ctrl.onInput()" ng-model-options="{debounce:500}"placeholder="enter password again" required><br/>
    </form>
    <button type="submit" form="form1" class="button-signin" value="Submit"
            style="margin:20px 0px 0px 5px;font-size:16px">
      sign up
    </button>
    <font style="margin:20px 0px 0px 5px;font-size:12px" color="#E00000">{{ctrl.error_message}}</font>
    <br/>{{ctrl.auth.user_id}}<br/>{{ctrl.auth.access_token}}
  </div>
</div>
